body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 1% 5%;
    background-color:#000000ee;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}


.box {
    box-shadow: .1em .1em .2em #29251d;
    border-color: #bdb9b2;
    border-radius: .4em;
    border-width: .01em;
    border-style: solid;
    margin-left: .4em;
    padding: .0em .5em .1em .5em;
    margin-bottom: .5em;
    margin-top: .3em;
}

h1 {
    color: rgb(221, 117, 76);
    margin: 0em;
    display: block;
}

h2 {
    color: rgb(221, 146, 76);
    font-size: 1.2em;
    margin: 0em;
}

h3 {
    color: rgb(196, 109, 28);
    font-size: 1em;
    margin: 0em;
}

ul {
    margin: 0em 0em .3em 0em;
    list-style-type: square;
    padding-left: 1.4em;
}

li{
    color: rgb(223, 210, 197);
}

a{
    color:#e29e76ee
}

a:active{
    color: #ff9d1cee;
}

a:hover{
    color: #f8b359ee;
}

a:visited{
    color: #e48e5cee;
}